

.groupButton {
	display: inline-block;
}

.button:not(:last-child) {
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.button:not(:first-child) {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
